.nav {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.navbar {
  position: relative;
  padding: 1px 1px;
  min-height: 30px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.navbar-brand {
  float: left;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

  
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 4px;
  padding-bottom: 2px;
  line-height: 20px;
  

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 5px;
    line-height: 5px;
  }
}

.glyphicon glyphicon-log-in {
    padding-top: 0px;
    padding-bottom: 5px;
    line-height: 5px;
}

glyphicon glyphicon-log-out{
    padding-top: 0px;
    padding-bottom: 5px;
    line-height: 5px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 20px;
    /* padding-bottom: 26.5px; */
    line-height: 20px;
  }
}