{% extends "layout-1.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 index-title">TrackMyTraining</div>
	</div><! --  end row  -->
	<div class="row">
		<div class="col-sm-12 index-line1">An application to manage your Courses and Students</div>
	</div><! --  end row  -->
	<div class="row"><div class="blankline"></div></div>
	<div class="row"><div class="blankline"></div></div>
	<div class="row">
		<div class="col-sm-4">
			<ul class = "index-ul">
				<li> User Registration for access to data </li>			
				<li> Three user levels providing data security</li>			
				<li> Ready-made Student and Course databases </li>			
				<li> Easy access to data </li>			
				<li> Rapid data search</li>			
				<li> Add, delete and edit data</li>			
				<li> Selected records can be copied or saved </li>			
			</ul>		
		</div>
		<div class="col-sm-4">
			
			 <video class = "video" autoplay loop playsinline muted>
			 <source src="/static/videos/track-my-training.mp4" type="video/mp4">
					Your browser does not support the video tag.
			 </video> 
		
		</div>
		<div class="col-sm-4">
				<ul class = "index-ul">
				<li> Customisable data views </li>			
				<li> Easy data sorting </li>			
				<li> Manual creation of customised databases </li>			
				<li> Create new database from CSV file </li>			
				<li> Modify data types in databases</li>			
				<li> Quickly clear all data in database </li>			
				<li> Remove databases </li>			
			</ul>		
		</div>
	</div> <! --  end row  -->

	<div class="blankline"></div>

	
	<div class="row">
		<div class="col-sm-12">
			<a href="https://www.python.org/" ><img class = "picture-1" src="/static/images/python.png" alt="python"></a>
		</div>
	</div> <! --  end row  -->
	
	<div class="row">
		<div class = "col-sm-1"></div>
		<div class="col-sm-2">
			<a href="https://getbootstrap.com/" ><img class = "picture-2" src="/static/images/bootstrap.png" alt="bootstrap"></a>
		</div>
		<div class="col-sm-2">
			<a href="https://datatables.net/" ><img class = "picture-2" src="/static/images/datatables.png" alt="datatables"></a>
		</div>
		<div class="col-sm-2">
			<a href="https://cs50.harvard.edu/x/2023/" ><img class = "picture-2" src="/static/images/cs50.png" alt="cs50"></a>
		</div>
		<div class="col-sm-2">
			<a href="https://www.w3schools.com/css/" ><img class = "picture-2" src="/static/images/css.png" alt="css"></a>
		</div>
		<div class="col-sm-2">
			<a href="https://jinja.palletsprojects.com/en/3.1.x/" ><img class = "picture-2" src="/static/images/jinja.png" alt="jinja"></a>
		</div>
		<div class = "col-sm-1"></div>
		<div class="col-sm-12">
			<a href="https://www.sqlite.org/" ><img class = "picture-1" src="/static/images/sqlite.png" alt="sqlite"></a>
		</div>
	</div> <! --  end row  -->
	


		
</div> <! --  end container  -->
{% endblock %}