{% extends "layout-2.html" %}
		
{% block title %} <title> {{ tablename }} </title>{% endblock %}

{% block content %}

<div class="container">
   <div class="row">
      <div class="col-sm-4">
        <h4>Database : {{ dbname }}</h4>
      </div>
      <div class="col-sm-4">
        <h4>Table    : {{ tablename }}</h4>
      </div>
    </div>
		<div class="row">
			<div class="col-sm-12">
			<table>
				</table>
				<table id="mytable" class="table table-striped table-bordered table-condensed nowrap" style="width: 100%">
				<thead style="background-color: #0271c9; color: white;">
 						{% for field in fields %}
							<th> 
								{{ field }}
							</th>
						{% endfor %}
				</thead>
				<tbody>
						{% for record in records %}
							<tr>
									{% for field in fields %}						
										<td> {{ record[field] }}</td>
									{% endfor %}
							</tr>
						{% endfor %}
						</tr>
				</tbody>			
				</table>
			</div>
		</div>
	</div>
{% endblock %}
